---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import Post from '~/components/Post.astro'
import { getPosts, getPostDescription } from '~/utils'
import Pagination from '~/components/Pagination.astro'
import ListSection from '~/components/ListSection.astro'
import ListItem from '~/components/ListItem.astro'

const allPosts = await getPosts()
const posts = allPosts.slice(0, 5)
const featuredSlugs = [
  '2024-05-19_rubykaigi',
  '2024-08-04_ai_human_collab',
  '2023-05-14_rubykaigi'
]
const featuredPosts = featuredSlugs
  .map((slug) => allPosts.find((post) => post.slug === slug))
  .filter((post): post is Post => Boolean(post))

const { translate: t } = Astro.locals
---

<LayoutDefault>
  <section contain-layout un-flex='~ col gap-7.5'>
    {
      posts.map((post) => (
        <Post post={post}>
          <p class='line-clamp-4'>{getPostDescription(post)}</p>
        </Post>
      ))
    }
    <ListSection title='過去の記事から'>
      {
        featuredPosts.map((post) => (
          <ListItem
            title={post.data.title}
            href={`/web-nikki/posts/${post.slug}/`}
            description={getPostDescription(post)}
          />
        ))
      }
    </ListSection>
    <Pagination
      showLeft={false}
      showPageCount={false}
      rightTitle={t('all_posts')}
      rightUrl={'posts/page/1'}
    />
  </section>
</LayoutDefault>
